
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}
.videobanner{
  width: 100%;
  height: 120vh;
  object-fit: cover;
  background-repeat: no-repeat;
}
.mobile{
  display: none;
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('/font/Bouncy-Black-PERSONAL_USE_ONLY.otf') format('woff2'),
  url('/font/KOMIKAX_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.header-divo{
  display: flex;
  justify-content: center;
  padding: 30px;
}
.header-landing{
  font-family: MyCustomFont;
  font-size: 60px;
  letter-spacing: 7.5px;
}
@media screen and (min-width:350px) and (max-width: 750px) {
  .header-landing{
    font-size: 25px;
  }
  .videobanner{
    height: 60vh;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
}